# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store

*.pdf
*.png

*_un

*data/Brazil/INFLUD-19-04-2021.csv
*data/Brazil/INFLUD-10-05-2021.csv
*data/Philippines/DOH\ COVID\ Data\ Drop_\ 20210509\ -\ 04\ Case\ Information\ 2020.csv
*data/Philippines/DOH\ COVID\ Data\ Drop_\ 20210509\ -\ 04\ Case\ Information\ 2021.csv
*global_age_analysis_2021/data/Philippines/data_drop/*
global_age_analysis_2021/data/Brazil/INFLUD-10-05-2021.csv