# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store

*.pdf
*.png

*_un.csv

*data/Brazil/INFLUD-19-04-2021.csv
*/data/Brazil/INFLUD-25-10-2021.csv
*data/Brazil/INFLUD-10-05-2021.csv
*data/Philippines/DOH\ COVID\ Data\ Drop_\ 20210509\ -\ 04\ Case\ Information\ 2020.csv
*data/Philippines/DOH\ COVID\ Data\ Drop_\ 20210509\ -\ 04\ Case\ Information\ 2021.csv
*global_age_analysis_2021/data/Philippines/data_drop/*
global_age_analysis_2021/data/Brazil/INFLUD-10-05-2021.csv
global_age_analysis_2021/data/age_outputs/Argentina.RDS
global_age_analysis_2021/data/age_outputs/Argentina_diff.RDS
global_age_analysis_2021/data/age_outputs/Brazil.RDS
global_age_analysis_2021/data/age_outputs/Brazil_diff.RDS
global_age_analysis_2021/data/age_outputs/Colombia.RDS
global_age_analysis_2021/data/age_outputs/Colombia_diff.RDS
global_age_analysis_2021/data/age_outputs/England.RDS
global_age_analysis_2021/data/age_outputs/England_diff.RDS
global_age_analysis_2021/data/age_outputs/France.RDS
global_age_analysis_2021/data/age_outputs/France_diff.RDS
global_age_analysis_2021/data/age_outputs/Germany.RDS
global_age_analysis_2021/data/age_outputs/Germany_diff.RDS
global_age_analysis_2021/data/age_outputs/India.RDS
global_age_analysis_2021/data/age_outputs/India_diff.RDS
global_age_analysis_2021/data/age_outputs/Iran.RDS
global_age_analysis_2021/data/age_outputs/Iran_diff.RDS
global_age_analysis_2021/data/age_outputs/Italy.RDS
global_age_analysis_2021/data/age_outputs/Italy_diff.RDS
global_age_analysis_2021/data/age_outputs/Kenya.RDS
global_age_analysis_2021/data/age_outputs/Kenya_diff.RDS
global_age_analysis_2021/data/age_outputs/Malawi.RDS
global_age_analysis_2021/data/age_outputs/Malawi_diff.RDS
global_age_analysis_2021/data/age_outputs/Mexico.RDS
global_age_analysis_2021/data/age_outputs/Mexico_diff.RDS
global_age_analysis_2021/data/age_outputs/Nigeria.RDS
global_age_analysis_2021/data/age_outputs/Nigeria_diff.RDS
global_age_analysis_2021/data/age_outputs/Peru.RDS
global_age_analysis_2021/data/age_outputs/Peru_diff.RDS
global_age_analysis_2021/data/age_outputs/Philippines.RDS
global_age_analysis_2021/data/age_outputs/Philippines_diff.RDS
global_age_analysis_2021/data/age_outputs/Poland.RDS
global_age_analysis_2021/data/age_outputs/Poland_diff.RDS
global_age_analysis_2021/data/age_outputs/SouthAfrica.RDS
global_age_analysis_2021/data/age_outputs/SouthAfrica_diff.RDS
global_age_analysis_2021/data/age_outputs/Spain.RDS
global_age_analysis_2021/data/age_outputs/Spain_diff.RDS
global_age_analysis_2021/data/age_outputs/USA.RDS
global_age_analysis_2021/data/age_outputs/USA_diff.RDS
global_age_analysis_2021/data/age_outputs/Zimbabwe.RDS
global_age_analysis_2021/data/age_outputs/Zimbabwe_diff.RDS